
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-googleplus:before { content: '\e805'; } /* '' */
.icon-vimeo:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e80a'; } /* '' */