html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    height:100%
}
body {
    font-family:"Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", arial, sans-serif;
    line-height:1.6;
    height:100%
}
* {
    margin:0;
    padding:0
}
ul, ol {
    padding-left:0;
    list-style-type:none
}
a {
    text-decoration:none
}
div#container {
    width:100%;
    height:100%
}
div#head {
    position:absolute;
    width:100%;
    height:52%;
    border-style:solid;
    border-width:0 0 1px;
    background-color:#C5DAD2;
    border-color:#B8B8B8;
    overflow-y:scroll
}
div#middle {
    position:absolute;
    width:100%;
    height:47.8%;
    bottom:0;
    text-align:center;
    padding:0;
    over-flow:hidden;
    display:inline-block;
    background-color:#C5DAD2;
    vertical-align:text-top
}
div#foot {
    position:fixed;
    bottom:0;
    width:100%;
    overflow:auto;
    height:8%;
    background-color:#F5F5F5;
    clear:both;
    text-align:center;
    min-height:40px
}
.input-select {
    position:absolute;
    width:68%;
    float:left;
    height:80%;
    border:0;
    outline:0;
    font-size:16px;
    text-align:left;
    left:10px;
    right:6px;
    top:10%;
    bottom:10%
}
.input-input {
    position:absolute;
    width:62.8%;
    height:-80%;
    float:left;
    border-style:none;
    font-size:16px;
    text-align:left;
    left:12px;
    right:6px;
    top:15%;
    bottom:18%
}
.sendButton {
    position:absolute;
    top:10%;
    bottom:10%;
    right:10px;
    overflow:auto;
    height:80%;
    width:20%;
    text-align:center;
    float:right;
    background-color:#FFF;
    border-style:none;
    border-radius:4px;
    margin:auto;
    font-size:16px
}
.switchButton {
    height:80%;
    background:url(http://wa-ou.com/resources/images/products/qqlightapp-switch-button.jpg) no-repeat center center;
    background-size:cover;
    border-radius:400px;
    border-style:none
}
.switchButton:hover {
    background-color:#5788af;
    border:1px outset #2683cf;
    color:#fcffdf;
    padding:3px;
    margin:1px;
    text-decoration:none;
    border-radius:400px
}
.switchButton:active {
    background-color:#67b4cf;
    border:1px inset #1d659f;
    color:#e0ffaf;
    padding:4px 2px 2px 4px;
    margin:1px;
    text-decoration:none;
    border-radius:400px
}

.sender {
    clear:both;
    padding:20px 0 0
}
.sender div:nth-of-type(1) {
    float:left
}
.sender div:nth-of-type(2) {
    background-color:#F5F5F5;
    float:left;
    margin:0 7px 7px 7px;
    padding:7px 7px 7px 0;
    border-radius:11px;
    font-size:16px
}
.receiver div:first-child img, .sender div:first-child img {
    width:40px;
    height:33px
}
.receiver {
    clear:both
}
.receiver div:nth-child(1) {
    float:right
}
.receiver div:nth-of-type(2) {
    float:right;
    background-color:#02A7E3;
    margin:0 7px 7px 7px;
    padding:7px 0 7px 7px;
    border-radius:11px;
    font-size:16px;
    color:#F5F5F5
}
.left_triangle {
    height:0;
    width:0;
    border-width:5px;
    border-style:solid;
    border-color:transparent #F5F5F5 transparent transparent;
    position:relative;
    left:-10px;
    top:2px
}
.right_triangle {
    height:0;
    width:0;
    border-width:5px;
    border-style:solid;
    border-color:transparent transparent transparent #02A7E3;
    position:relative;
    right:-10px;
    top:2px
}