.slide.page-heading { background-color: #85AE52; padding:170px 50px 170px 50px}
.slide.page-heading h1 { color:#fff; display: block; font-size:260px; margin:0 auto; width:70%}
.slide.page-heading p{ font-size:22px}

.slide.footer .col3 a:hover{ background-color: #FF7362; border-color:#FF7362;color:#fff}

/* Tablet and Phone */
@media (max-width: 800px) {
	

}