.slide.page-heading { background-color: #164f78; padding:140px 0 70px 0}
.slide.page-heading .container { padding:0 }
.slide.page-heading .image { padding-right:40px}
.slide.page-heading .desc { padding:90px 30px 0 30px}
.slide.page-heading h1 { color:#fff; font-size:45px;display: block; margin:0 auto;}
.slide.page-heading .lead { font-weight:300;font-size:20px; line-height: 27px; color:#fff;display: block; margin:12px 0; padding:0 80px}


.slide .header h3 { color:#000; font-size:40px;}


.slide.slide2 { text-align: center; padding: 100px 0 120px 0; border-bottom: 1px solid #E8E8E8}
.slide.slide2 h2 { font-size:44px}
.slide.slide2 .desc { font-size:20px; padding:0 90px; color:#000}



.slide.slide3 {border-bottom: 1px solid #E8E8E8; padding-top:50px; padding-bottom: 60px}

.slide.slide3 .header .lead { color:#000; font-size:18px}

.slide.slide3 .row .desc { position:relative; border-right:1px solid #E8E8E8; padding:10px 30px 10px 10px; margin-bottom:20px}
.slide.slide3 .row .desc:nth-child(2n){ padding-left:30px; border-right:0}
.slide.slide3 .row .desc h5 { font-size:20px;} 
.slide.slide3 .row .desc .number { float:left;background-color:#DE4327;color:#fff;border-radius:50%; width:50px;height:50px; text-align:center; font-size:33px; margin:5px 18px 100px 0; padding:0; line-height: 49px}


.slide.slide4 {border-bottom: 1px solid #E8E8E8; padding-top: 80px; padding-bottom: 100px}
.slide.slide4 .header { margin-bottom: 60px}
.slide.slide4 .row .desc strong { font-size:16px;color:#000}
.slide.slide4 .row .desc ul {list-style: none; padding:0; margin:0}
.slide.slide4 .row .desc ul li { font-size:25px; background: url(../images/icon-bullet-l.png) no-repeat left 15px; padding:3px 0 3px 18px}
.slide.slide4 .row .callout { background-color:#8e9395; color:#fff; padding:50px; text-align: left; font-size:18px;}




.slide.slide5 { background-color:#fff; padding-top: 150px; padding-bottom: 150px; border-bottom: 1px solid #E8E8E8}
.slide.slide5 *{ color:#000;}
.slide.slide5 h3 { font-size:40px}
.slide.slide5 .content { padding-left: 110px}
.slide.slide5 .content strong{ font-size:24px; line-height: 32px}



.slide.slide6 { background-color:#DE4327;border-bottom: 1px solid #E8E8E8; padding-top:50px;padding-bottom:0}
.slide.slide6 .row * { color:#fff}
.slide.slide6 .row  h3 { font-size:45px; margin-bottom: 25px }
.slide.slide6 .row .image { text-align: left; padding-top:120px; padding-right: 90px}
.slide.slide6 .row .desc { padding-left: 50px}
.slide.slide6 .row .desc ul { list-style: none; margin:0;padding:0}
.slide.slide6 .row .desc ul li { margin-bottom: 40px}
.slide.slide6 .row .desc ul li strong { font-size:22px; display: block;}
.slide.slide6 .callout { margin-top:80px;background-color:#8e9395;  text-align: center; }
.slide.slide6 .callout * { color:#fff;font-size:18px; line-height: 25px;padding:50px 70px; }


.slide.slide7 {border-bottom: 1px solid #E8E8E8;}
.slide.slide7 h3 { font-size:55px}
.slide.slide7 .row .desc { position:relative;margin-top: 65px;min-height:395px; text-align: center; padding-top:200px; padding-left:38px; padding-right: 38px}
.slide.slide7 .row .desc h5 { font-size:22px; }
.slide.slide7 .row .desc .icon { position:absolute;top:0; left:50%; margin-left:-95px;background-color:#2C5871;border-radius:50%; width:170px;height:170px;text-align: center}
.slide.slide7 .row .desc .icon img { width:85px;margin:42px auto}
.slide.slide7 .row .desc .icon img.posting { width:95px;margin:38px auto}
.slide.slide7 .row .desc .icon img.comments { width:95px;margin:37px auto}
.slide.slide7 .row .desc .icon img.spam { width:100px;margin:41px auto}
.slide.slide7 .row .desc .icon img.health-check { width:100px;margin:34px auto}
.slide.slide7 .row .desc .icon img.contests { width:95px;margin:44px auto}
.slide.slide7 .row .desc .icon img.reports { width:85px;margin:42px auto}
.slide.slide7 .row .desc .icon img.writing { width:100px;margin:37px auto}
.slide.slide7 .row .desc .icon img.ad-campaign { width:100px;margin:32px auto}



.slide.slide8 {border-bottom: 1px solid #E8E8E8; padding-top:70px;padding-bottom: 100px}
.slide.slide8 .header { margin-bottom: 45px}
.slide .col-xs-6 { padding:30px 20px; border-top:1px dotted #CCC; border-left:1px dotted #CCC; text-align: center}
.border-bottom {border-bottom:1px dotted #CCC;}
.border-right { border-right:1px dotted #CCC; }
/*

.slide.slide8 {border-bottom: 1px solid #E8E8E8; padding-bottom: 60px}
.slide.slide8 .package { border:1px solid rgba(0,0,0,0.1)}
.slide.slide8 .package .heading { padding:25px 20px; text-align: center }
.slide.slide8 .package .heading h5 { margin:0; padding:0; color:#fff}
.slide.slide8 .package ul { list-style: none; margin:0;padding:0}
.slide.slide8 .package ul li {padding:9px 25px;border-bottom: 1px solid rgba(0,0,0,0.1)}
.slide.slide8 .package ul li li { padding-top:0;padding-bottom:0;padding-left:11px;padding-right:0;border:0; font-size:16px; color:#000; background: url(../images/icon-bullet.png) no-repeat left 8px;}

.slide.slide8 .package h5{ font-size:30px;color:#000}
.slide.slide8 .package strong{ display: block;color:#4C4C4C}
.slide.slide8 .package span{ font-size:18px; color:#000}
.slide.slide8 .package span.small{ font-size:12px; color:#000}

.slide.slide8 .package.package1 .heading { background-color: #ec8373}
.slide.slide8 .package.package2 .heading { background-color: #04ad98}
.slide.slide8 .package.package3 .heading { background-color: #7a70a9}

.slide.slide8 .call-to-action { margin-top: 35px; text-align: center}
.slide.slide8 .call-to-action .btn { font-size: 25px}
.slide.slide8 .call-to-action .btn:hover { background-color:#8E9395;color:#fff}
*/


.slide.slide9 { padding-bottom: 70px; background-color: #F7F7F7}
.slide.slide9 .row .desc { position:relative;margin-top: 65px;min-height:395px; text-align: center; padding-top:200px; padding-left:38px; padding-right: 38px}
.slide.slide9 .row .desc h5 { font-size:22px; }
.slide.slide9 .row .desc .icon { position:absolute;top:0; left:50%; margin-left:-95px;background-color:#8FC3D8;border-radius:50%; width:190px;height:190px;text-align: center}
.slide.slide9 .row .desc .icon img { width:110px;margin:44px auto}


.contact-form .form-note { color:#000 !important}
.btn-submit { background-color:#DE4327; color:#fff}



/* Tablet and Phone */
@media (max-width: 1024px) {


}

@media (max-width: 640px) {

	.slide.page-heading .image { padding-right:0;}
	.slide.page-heading .desc { padding:20px 30px 0 30px}
	.slide.page-heading h1 {  font-size:35px}
	.slide.page-heading .lead { font-size:16px; line-height: 20px; padding:0 10px}
	
	.slide .header h3 {font-size:30px;}

	.slide.slide2 {  padding:40px 0 70px 0}
	.slide.slide2 h2 { font-size:34px}
	.slide.slide2 .desc { font-size:17px; padding:0 10px}
	
	
	.slide.slide3 {padding-top:30px; padding-bottom: 50px}
	.slide.slide3 .header .lead { color:#000; font-size:15px; line-height: 19px}
	
	.slide.slide3 .row .desc { position:relative; border-right:0; padding:10px 10px 10px 10px; margin-bottom:20px}
	.slide.slide3 .row .desc:nth-child(2n){ padding-left:0; border-right:0}
	.slide.slide3 .row .desc h5 { font-size:24px;} 
	.slide.slide3 .row .desc .number {margin:10px 14px 12px 0;}
	
	
	.slide.slide4 { padding-top: 30px; padding-bottom: 50px}
	.slide.slide4 .header { margin-bottom: 40px}
	.slide.slide4 .row .desc ul li { font-size:21px; background-position: left 13px; padding:3px 0 3px 16px}
	.slide.slide4 .row .callout { padding:30px; margin-top: 25px}
	
	.slide.slide5 { padding-top: 30px; padding-bottom: 40px}
	.slide.slide5 h3 { font-size:40px}
	.slide.slide5 .content { padding:10px 15px}
	
	
	.slide.slide6 {  padding-top:30px; padding-bottom: 0}
	.slide.slide6 .row .image { text-align:center; padding-top:0; padding-right: 0}
	.slide.slide6 .row .desc { padding-left: 0}
	.slide.slide6 .callout * { padding:30px 12px; }

	.slide.slide7 { padding-top: 30px; padding-bottom: 50px}
	.slide.slide7 .row .desc, .slide.slide9 .row .desc {margin-top: 55px; padding-left:10px; padding-right: 10px}
	
	
	.slide.slide8, .slide.slide9 { padding-top: 30px; padding-bottom: 50px}
	.slide.slide7 .header, .slide.slide9 .header { margin-bottom: }
	.slide.slide8 .package.package2, .slide.slide8 .package.package3{ margin-top:20px}

}


@media (min-width: 690px) and (max-width: 1024px) {

}